<html>
<body>
  <h1>GIT LAUNCHED &#x1F680;</h1>
<% users.each do |user| %>
<ul>
  <li><%= user["login"] %> really likes <a href="https://github.com/stars/<%= user["login"] %>">these repos</a></li>
</ul>
<% end %>
</body>
</html>
