<h1>GIT LAUNCHED &#x1F680;</h1>
<ul>
  <% launchers.each do |launcher| %>
  <li><%= launcher["launcher"] %> really likes
      <a href="<%= launcher["url"] %>"><%= launcher["repo"] %></a>, which is
      "<%= launcher["description"] %>"
    </li>
  <% end %>
</ul>
