
.page-wrapper {
  padding: 0 5%;
  margin: 0 auto;
}

nav {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

nav h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

ul.main-nav li {
  display: inline-block;
  margin: 2em;
  font-size: 1.2em;
}

ul.main-nav li a {
  color: #421868;
}

ul, li {
  list-style-image: none;
  list-style-type: none;
}

ol li {
  list-style-type: decimal;
}

span.filler {
  color: black;
}

li.users {
  color: #421868;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}

li.users a {
  color: #8ED07E;
}

li.repo-slug {
  font-size: 1.5em;
  color: #9E54C3;
}

img.icon{
  max-width: 80px;
  margin: 10px;
  display: inline-block;
}

img.star {
  max-width: 100px;
}
