<html>
<head>
  <title>Git Launched!</title>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/custom.css">

  <script src="/js/vendor/modernizr.js"></script>
</head>

  <body>

    <nav>
      <h1>GIT LAUNCHED &#x1F680;</h1>
      <ul class="main-nav">
        <li><a href="/likers">Likers Gonna Like</a></li>
        <li>Popularity Contest</li>
        <li>Beast Mode</li>
        <li>Get Friendly</li>
      </ul>
    </nav>

    <div class="page-wrapper">

      <%= yield %>

      <script src="js/vendor/jquery.js"></script>
      <script src="js/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
    </div>

  </body>

</html>
